<% content_for :title, "Editing test0234" %>

<h1>Editing test0234</h1>

<%= render "form", test0234: @test0234 %>

<br>

<div>
  <%= link_to "Show this test0234", @test0234 %> |
  <%= link_to "Back to test0234s", test0234s_path %>
</div>
